<div class="content first">
    <div class="content-inner">
        <p class="content-innerinner">
            
        </p>
    </div>
</div>

<div class="content">
    <div class="content-inner">
        <div class="tytle">
            <h2>Direction</h2>
            <p>活動方針</p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">「あたりまえ」を理解する</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                土木の世界で当たり前だと考えられている現象、大学で当たり前のように扱っている計算式、そしてそれを当たり前のものとして理解し運用の練習を行う私たち。
                身の回りに山のように散らばる「あたりまえ」に焦点を当て、消化することによって土木に対しての理解を深めます。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">「あたらしい」を「あたりまえ」に</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                他所の分野は難しくそれでいて素晴らしく見えるもの。けれど講義を聞くだけだとつまらない。
                そんな学生たちが、興味の赴くままに新しい分野（プログラミング）に手を出し、定着を目指します。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">inputで終わるなら独学でいい</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                身に着けた技術を共有し、互いを指導しあうペアプログラミングを採用することで、outputの活発化を図ります。
                各々が、常に学びのゴールは「伝える」ことであると自覚することで、作業の効率化とチームとしての能力の成熟を狙います。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木とプログラミングで社会を豊かに</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                得られた知識をチーム内で留めるつもりはありません。
                　　私たちはあくまで「学ばせていただいている」身だということを正しく理解し、土木業界に正しい還元を行うことで、業界間の成長と発展への寄与を願います。
            </p>
        </div>
    </div>
</div>

<div class="content appintro">
    <div class="content-inner">
        <h2>Project</h2>
        <p>プロジェクト</p>
        <div class="card left wow fadeInUp pj" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">01</span><span class="pj-name">液状化診断</span>
                    </h3>
                </div>
                <div class="card_body">
                    <p>構造物にL2地震動（非常に強い地震動）が発生した場合、液状化が発生するか判定したものになります。判定には土の繰り返し三軸圧縮試験によって液状化強度比Rと繰返し回数Ncの関係を計測している必要があります。
                    </p>
                    <div class="button_area">
                        <a class="button_1" routerLink='/'>特設ページへ</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card right wow fadeInUp pj" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/slip.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">02</span><span class="pj-name">斜面の安定計算</span>
                    </h3>
                </div>
                <div class="card_body">
                    <p>斜面の形状によって、安全率Fを算出し。斜面に存在する土砂がどのように滑るのか、アニメーションを用いて判定するものになります。その計算方法として、斜面が滑るときの面に生じるせん断強度Rをすべり面に作用する土のせん断荷重Lで除した数値で行っています。
                    </p>
                    <div class="button_area">
                        <a class="button_1" routerLink='/'>特設ページへ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-inner">
        <h2>Project</h2>
        <p>プロジェクト</p>
        <div id="slider">
            <figure>
                <img src="../../assets/img/vscode.png" alt="">
                <img src="../../assets/img/teach.jpg" alt="">
                <img src="../../assets/img/make.jpg" alt="">
                <img src="https://31.media.tumblr.com/3afad829ce330a66b3bbb98831c1c393/tumblr_mx3tpto69r1st5lhmo1_1280.jpg"
                    alt="">
                <img src="https://25.media.tumblr.com/d7c46e775fa6d6c613f10bceb2703b38/tumblr_mx3tqsqckF1st5lhmo1_1280.jpg"
                    alt="">
            </figure>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Dobokulab</h2>
        <p>チーム紹介</p>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生の</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                背負うものがなく、利害関係もなく、身体・時間共に縛りがない私たち「学生」。
                自由を最大限に生かし、知識欲の赴くままに、先駆者として多様な業界やシステムへの第一歩を踏み出します。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生による</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                土木業界の一員として、ほかの業界から得た知識を土木業界に発信するプラットフォームの確立を目指します。業界の進歩を学生の使命と自覚し、個々人が成果物を残すことで、土木業界と異業種をつなぐ一つの手段の確立を目指します。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生のための</p>
                <p></p>
            </blockquote>
        </div>

        <div class="text_content">
            <p class="content_direction">
                我々を業界形成の末端と考え、学生―土木業界間の双方向の発信を終着点とみなすのではなく、業界の末端はあくまで一般社会であることを自覚し、業種や世代にこだわらない発信を課題とします。</p>
            <p></p>
        </div>
    </div>
</div>


<div class="content appintro">
    <div class="content-inner">
        <h2>Member</h2>
        <p>メンバー紹介</p>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_mizutani.jpg">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">01</span>水谷昂太郎
                    </h3>
                </div>
                <div class="card_body">
                    <p>大学生の傍ら、webデザインのコーディングをメインに仕事としてます。</p>
                    <p>しかしまだまだやれることに限界あるなと感じてる今日この頃、毎日より良いアプリづくりのための勉強の日々。</p>
                    <p>いつか業界を少しでも騒がす人になれるよう日々精進していきます！！</p>
                </div>
            </div>
        </div>
        <div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_yoshikawa.jpg">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">02</span>吉川和宏
                    </h3>
                </div>
                <div class="card_body">
                    <p>最近は様々なことに興味を持ち、「挑戦する」ということを心がけています。</p>
                    <p>未熟者ですが、今回の斜面の安定アプリ作成で使用したthree.jsについても勉強中です。</p>
                    <p>また、土木分野についても様々な知識を取り入れていきたいと思ってます！</p>
                    <!-- <p>twitter:<a href="https://twitter.com/Yoshi99605582" class="twitter">https://twitter.com/Yoshi99605582</a></p> -->
                </div>
            </div>
        </div>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_yoshikawa.jpg">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">03</span>吉成翔
                    </h3>
                </div>
                <div class="card_body">
                    <p>物理も数Ⅲも知らないのに土木の勉強をしており、斜面の安定アプリではページのデザインと本サイトの作成を担当しました。</p>
                    <p>当サイト作成着手時は総html歴48時間ほどのため、拙いデザインになっていますが、これから色々な手法を学んでこのサイトを豊かにしていくつもりです！</p>
                    <!-- <p>twitter:<a href="https://twitter.com/sho_o419" class="twitter">https://twitter.com/sho_o419</a></p> -->
                </div>
            </div>
        </div>
        <div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_matsuda.jpg">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">04</span>松田楓
                    </h3>
                </div>
                <div class="card_body">
                    <p>土木を先行している大学生です！</p>
                    <p>地理や地学、交通都市計画や防災都市計画などを通して地域の歴史を知ることが大好きです。</p>
                    <p>Webプログラミングではバックエンドを通して土質力学の基礎を再勉強しております。</p>
                    <p>研究に向けて日々学ばせて頂いております！</p>
                </div>
            </div>
        </div>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_in.jpg">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">05</span>はたはた
                    </h3>
                </div>
                <div class="card_body">
                    <p>日本全国を旅しながら、土木/建築写真を撮影中。鉄道構造物がお気に入り。
                        HTML・CSSから逃げるな。</p>
                </div>
            </div>
        </div>
        <div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon_sasazawa.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">06</span>笹澤陽佑
                    </h3>
                </div>
                <div class="card_body">
                    <p>東京都三鷹市で、 鉄道系ドボク設計の会社をやってます。</p>
                    <p>コンクリート構造物をプログラムを整備しながら設計することを得意としています 。</p>
                    <p>ドぼプロではここにいるエンジニアの相談役をしています。</p>
                    <!-- <p>twitter:<a href="https://twitter.com/sasaco_corp" class="twitter">https://twitter.com/sasaco_corp</a></p>
                <p>youtube:<a href="https://www.youtube.com/watch?v=Q8FCcuAWWLc&t=0s" class="twitter">https://www.youtube.com/watch?v=Q8FCcuAWWLc&t=0s</a></p> -->
                </div>
            </div>
        </div>
        
    </div>
</div>