<div class="content">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
    </div>
</div>


<div class="content appintro">
    <div class="content-inner">
    <h2>Project</h2>
    <p>プロジェクト</p>
<div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
   <div class="image-area">
       <img src="../../assets/img/icon.png">
   </div>
    <div>
    <div class="card_head">
        <h3 class="card_head_title card_head_left">
          <span class="titleNumber">01</span>液状化診断アプリ
        </h3>
    </div>
    <div class="card_body">
        <p>明治39年創業以来、様々な困難を乗り越え、歯科医療の発展のため、ユーザー様からのご意見に耳を傾け、ユニット、ハンドピース、画像診断機器をはじめとした医療機器やデジタル製品などを積極的に開発し、全国に普及させて参りました。そして今後も、業界の草分けとして培ったヨシダの技術と経験によって、医療現場に飽くなき改善と、よりよい環境を提供して参ります。
        </p>
    </div>
    </div>
</div>

<div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="image-area">
        <img src="../../assets/img/icon.png">
    </div>
     <div>
     <div class="card_head">
         <h3 class="card_head_title card_head_left">
           <span class="titleNumber">02</span>斜面の安定計算
         </h3>
     </div>
     <div class="card_body">
         <p>明治39年創業以来、様々な困難を乗り越え、歯科医療の発展のため、ユーザー様からのご意見に耳を傾け、ユニット、ハンドピース、画像診断機器をはじめとした医療機器やデジタル製品などを積極的に開発し、全国に普及させて参りました。そして今後も、業界の草分けとして培ったヨシダの技術と経験によって、医療現場に飽くなき改善と、よりよい環境を提供して参ります。
         </p>
     </div>
     </div>
 </div>
 </div>
 </div>