<div class="content">
    <div class="content-inner">
        <div class="slider">
            <div class="slider__content"><img
                    src="https://files.slack.com/files-pri/TV9HDMMGB-F01D78K0XJQ/ios__________.jpg" alt="写真"
                    height="65%" width="100%" class="working_img"></div>
            <div class="slider__content"><img
                    src="https://files.slack.com/files-pri/TV9HDMMGB-F01D13RP3RQ/ios__________.jpg" alt="写真"
                    height="65%" width="100%" class="working_img"></div>
            <div class="slider__content"> <img
                    src="https://files.slack.com/files-pri/TV9HDMMGB-F01CLBDKQPR/ios__________.jpg" alt="写真"
                    height="65%" width="100%" class="working_img"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Direction</h2>
        <p>活動方針</p>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">「あたりまえ」を理解する</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                土木の世界で当たり前だと考えられている現象、大学で当たり前のように扱っている計算式、そしてそれを当たり前のものとして理解し運用の練習を行う私たち。身の回りに山のように散らばる「あたりまえ」に焦点を当て、消化することによって土木に対しての理解を深めます。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">「あたらしい」を「あたりまえ」に</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                他所の分野は難しくそれでいて素晴らしく見えるもの。けれど講義を聞くだけだとつまらない。そんな大学生たちが、興味の赴くままに新しい分野（プログラミング）に手を出し、定着を目指します。</p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">一家に一台three.js</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p>こちらのアプリでは、指定された条件の斜面に対して、最も危険な状態となる円弧滑り面とその安全率を返します。最も危険な状態となる円弧滑り面の調べ方については、以下の手順により計算します。</p>
            <p>斜面より上のある座標（x＝L/2、ｙ＝H）を中心とし、ある半径をとる円弧滑り面の安全率を計算します。円弧滑り面の安全率計算では、スライス法に基づき円の面積をx方向に5分割し、それぞれの要素について滑り荷重と滑り抵抗を算出し、それぞれ合算した値の商を求めることで算出します。
            </p>
            <p></p>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Dobokulab</h2>
        <p>チーム紹介</p>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生の</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                背負うものがなく、利害関係もなく、身体・時間共に縛りがない私たち「学生」。
            </p>
            <p class="content_direction">
                自由を最大限に生かし、知識欲の赴くままに、先駆者として多様な業界やシステムへの第一歩を踏み出します。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生による</p>
                <p></p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">土木業界の一員として、ほかの業界から得た知識を土木業界に発信するプラットフォームの確立を目指します。</p>
            <p class="content_direction">業界の進歩を学生の使命と自覚し、個々人が成果物を残すことで、土木業界と異業種をつなぐ一つの手段の確立を目指します。</p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-orange me-0">
                <p class="tytle_two">土木学生のための</p>
                <p></p>
            </blockquote>
        </div>
        
        <div class="text_content">
            <p class="content_direction">我々を業界形成の末端と考え、学生―土木業界間の双方向の発信を終着点とみなすのではなく、</p>
            <p class="content_direction">業界の末端はあくまで一般社会であることを自覚し、業種や世代にこだわらない発信を課題とします。</p>
            <p></p>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Dobokulab</h2>
        <p>ようこそ</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Project</h2>
        <p>プロジェクト</p>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Project</h2>
        <p>プロジェクト</p>
    </div>
</div>

<div class="content appintro">
    <div class="content-inner">
        <h2>Member</h2>
        <p>メンバー紹介</p>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">01</span>水谷昂太郎
                    </h3>
                </div>
                <div class="card_body">
                    <p>構造物にL2地震動（非常に強い地震動）が発生した場合、液状化が発生するか判定したものになります。判定には土の繰り返し三軸圧縮試験によって液状化強度比Rと繰返し回数Ncの関係を計測している必要があります。
                    </p>
                </div>
            </div>
        </div>


        <div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/slip.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">02</span>吉川和宏
                    </h3>
                </div>
                <div class="card_body">
                    <p>明治39年創業以来、様々な困難を乗り越え、歯科医療の発展のため、ユーザー様からのご意見に耳を傾け、ユニット、ハンドピース、画像診断機器をはじめとした医療機器やデジタル製品などを積極的に開発し、全国に普及させて参りました。そして今後も、業界の草分けとして培ったヨシダの技術と経験によって、医療現場に飽くなき改善と、よりよい環境を提供して参ります。
                    </p>
                </div>
            </div>
        </div>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">03</span>吉成翔
                    </h3>
                </div>
                <div class="card_body">
                    <p>構造物にL2地震動（非常に強い地震動）が発生した場合、液状化が発生するか判定したものになります。判定には土の繰り返し三軸圧縮試験によって液状化強度比Rと繰返し回数Ncの関係を計測している必要があります。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content appintro">
    <div class="content-inner">
        <h2>Project</h2>
        <p>プロジェクト</p>
        <div class="card left wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/icon.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">01</span>液状化診断アプリ
                    </h3>
                </div>
                <div class="card_body">
                    <p>構造物にL2地震動（非常に強い地震動）が発生した場合、液状化が発生するか判定したものになります。判定には土の繰り返し三軸圧縮試験によって液状化強度比Rと繰返し回数Ncの関係を計測している必要があります。
                    </p>
                </div>
            </div>
        </div>


        <div class="card right wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s"
            style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="image-area">
                <img src="../../assets/img/slip.png">
            </div>
            <div>
                <div class="card_head">
                    <h3 class="card_head_title card_head_left">
                        <span class="titleNumber">02</span>斜面の安定計算
                    </h3>
                </div>
                <div class="card_body">
                    <p>明治39年創業以来、様々な困難を乗り越え、歯科医療の発展のため、ユーザー様からのご意見に耳を傾け、ユニット、ハンドピース、画像診断機器をはじめとした医療機器やデジタル製品などを積極的に開発し、全国に普及させて参りました。そして今後も、業界の草分けとして培ったヨシダの技術と経験によって、医療現場に飽くなき改善と、よりよい環境を提供して参ります。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>