header{
    text-align: center;
    border:1px solid #993930;
    font-size: 20px;
    margin:0;
    padding:8px;
    a{
        display: inline-block;
        margin:8px;
        font-size: 24px;
        border-bottom: solid 1px black;
        text-decoration: none;
        color: #333333;
    }
    h1{
        text-align: center;
        margin: 0;
        padding:16px;
        border: 0px;
    }
}

.button_area{
    text-align: center;
    .button_1{
        display: block;
        margin:0 auto;
        width: 120px;
        padding: 16px;
        background-color: #993930;
        border-radius: 5px;
    }

}

.button_1:hover{
    opacity: 0.7;
}


.container{
    max-width: 1200px;
    padding:0 16px;
}

.card.right {
    width: 95%;
    margin-bottom: 30px;
    margin-top: 0;
    visibility: visible;
    animation-duration: 1.3s;
    animation-delay: 0.3s;
    width: 640px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}


.tier.story .card_head {
    margin: 10px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
}

.story .card_body {
    padding: 10px 20px;
    font-size: 12px;

footer{
    padding: 0 0;
    width: 100%;
    background-color:#556b2f;
    text-align: right;
    color:#ffffff;

}
