header{
    text-align: center;
    border:1px solid #993930;
    font-size: 20px;
    margin:0;
    padding:8px;
    a{
        display: inline-block;
        margin:8px;
        font-size: 24px;
        border-bottom: solid 1px black;
        text-decoration: none;
        color: #333333;
    }
    h1{
        text-align: center;
        margin: 0;
        padding:16px;
        border: 0px;
    }
}

.button_area{
    text-align: center;
    .button_1{
        display: block;
        margin:0 auto;
        width: 120px;
        padding: 16px;
        background-color: #993930;
        border-radius: 5px;
    }

}

.button_1:hover{
    opacity: 0.7;
}


.content:nth-child(2n){
    background-color:#f5f5f5;
}

.content-inner{
    max-width: 1200px;
    margin:0 auto;
    padding:16px;
    h2{
        font: calc(2.071em + 26 * (100vw - 375px) / 1305) Verdana, Helvetica, Arial, sans-serif;
        letter-spacing: 0.06em;
        line-height: 2.09;
        text-align: center;
    }
    p{
        text-align: center;
    }
}


.content.appintro::after{
    content: "";
    clear: both;
    display: block;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
    margin:32px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    .image-area{
        img{
            width: 100%;
        }
    }
}

.card_head {
    margin: 10px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    line-height: 180%;

.card_head_title{
    font-size: 21px;
    font-weight: bold;
    display: block;
    margin-top: 6px;
    
.titleNumber{
    font-size: 60px;
    font-weight: bolder;
    width: 50%;
    padding-right:16px;
    letter-spacing: -8px;
}
}
}

.card.left {
    width: 90%;
   float: left;
    
}

.card.right {
    width: 90%;
   float: right;
    
}

.card_body {
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 0.6;
}

footer{
    padding: 0 0;
    width: 100%;
    background-color:#556b2f;
    text-align: right;
    color:#ffffff;

}