<div class="text_face">
    <h3>liquefaction</h3>
</div>
<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <h2>使用方法</h2>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    何度もいうように、約款も契約である点で違いはありませんが、通常の契約は、お互いの合意（意志の合致）を根拠に、当事者双方に拘束力を発生させます。逆にいえば、お互いの意志の合致がなければ拘束力もないのです。契約においてはそもそも、申し込む人がよく知らないことや、理解できていないことについては、原理上成立できないはずです。
</div>

<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <h2>理論</h2>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    何度もいうように、約款も契約である点で違いはありませんが、通常の契約は、お互いの合意（意志の合致）を根拠に、当事者双方に拘束力を発生させます。逆にいえば、お互いの意志の合致がなければ拘束力もないのです。契約においてはそもそも、申し込む人がよく知らないことや、理解できていないことについては、原理上成立できないはずです。
</div>

<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <p class="tytle_two">通常の契約書との違いは？</p>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    <p>こちらのアプリでは、指定された条件の斜面に対して、最も危険な状態となる円弧滑り面とその安全率を返します。最も危険な状態となる円弧滑り面の調べ方については、以下の手順により計算します。</p>
    <p>斜面より上のある座標（x＝L/2、ｙ＝H）を中心とし、ある半径をとる円弧滑り面の安全率を計算します。円弧滑り面の安全率計算では、スライス法に基づき円の面積をx方向に5分割し、それぞれの要素について滑り荷重と滑り抵抗を算出し、それぞれ合算した値の商を求めることで算出します。</p>
    <p></p>
</div>
