<div class="text_face">
    <h3>liquefaction</h3>
</div>
<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <h2>使用方法</h2>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    何度もいうように、約款も契約である点で違いはありませんが、通常の契約は、お互いの合意（意志の合致）を根拠に、当事者双方に拘束力を発生させます。逆にいえば、お互いの意志の合致がなければ拘束力もないのです。契約においてはそもそも、申し込む人がよく知らないことや、理解できていないことについては、原理上成立できないはずです。
</div>

<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <h2>理論</h2>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    何度もいうように、約款も契約である点で違いはありませんが、通常の契約は、お互いの合意（意志の合致）を根拠に、当事者双方に拘束力を発生させます。逆にいえば、お互いの意志の合致がなければ拘束力もないのです。契約においてはそもそも、申し込む人がよく知らないことや、理解できていないことについては、原理上成立できないはずです。
</div>
