<div class="text_face">
    <h1>斜面の安定計算</h1>
</div>

<div class="content">
    <div class="content-inner">
        <div class="tytle">
            <h2>Contents</h2>
            <p>目次</p>            
        </div>
        <div class="content_topic">
            <blockquote class="quote-topic me-0">
                <p class="tytle_two">はじめまして</p>
            </blockquote>
        <div class="text_content">
            <p>はじめまして！DobokuLabの吉成です。<br>
                記事を書くのは今回が初めてとなります、ぜひ最後までお付き合いください！<br>
                さてさて、初めての記事は<br>
                <strong>斜面の安定アプリ作成の舞台裏！そもそも何を計算してるの？</strong><br>
                となります！
            </p>
            <div class="list">
            <ul class="cp_list">
                <li>いったい何を計算しているんだ？</li>
                <li>とりあえず使ってみよう！</li>
                <li>ちょっと難しい話。どんな計算がされているんだろう</li>
                    <ul class="sub_list">
                        <li class="subli">導出方法～斜面の安定～</li>
                        <li>導出方法～円弧滑り面～</li>
                        <li>スライス法</li>
                    </ul>
                <li>計算するだけじゃあありません</li>
                <li>鳥を飛ばしたかった！？three.jsってなに</li>
                <li>easy</li>
            </ul>
            </div>
            <p>それでは早速見ていきましょう！</p>
        </div>
    </div>
</div>


<div class="content">
    <div class="content-inner">
        <h2>How to</h2>
        <p>使用説明</p>
        <div class="content_topic">
            <blockquote class="quote-topic me-0">
                <p class="tytle_two">いったい何を計算しているんだ？</p>
            </blockquote>
        <div class="text_content">
            <p>「日本の山と言ったら？」多くの人が富士山と答えるのではないでしょうか。<br>
                富士山の標高は3776ｍ、子供のころ、誰しも一度は覚えた数値だと思います。<br>
                そんな富士山以外にも、日本には3000mを超える山が20以上もあります（こんなに小さい島国なのに…）。夏にはキャンプ、冬にはスキー、山がなければ雨も雪も降りません。<br>
                山って思っている以上に身近なものなんです。</p>
            <p>ところで、<strong>今あなたが立っている地面って,傾いてますか？</strong>もし寝室がひどく傾いていたり、家の周りが坂だらけだったら嫌ですよね。</p>
        </div>
        <div class="text_content">
            <p>日本人は、この山だらけの日本を盛り土や切土によって土を移動させ、地面を平らにしたり、人工的に坂道を作ったりすることで豊かな生活を送ってきました。<br>
                しかし、もしも運んだ土が重力や車や住宅の重さに耐えきれずに滑り落ちてしまったら…工事や設計を行う人間は、土の移動によってできた斜面が絶対に崩壊しないように設計を行わなければなりません。<br>
                また、人間が手を加えていない自然斜面も、浸食や降水等で崩壊しないかどうかも予測をする必要があります。</p>
            <p>一般に、斜面が崩壊しないかどうかを示す斜面の安定性は、安全率で求められます。<br>
                こちらのアプリは、指定された条件の斜面に対して、最も危険な状態となる円弧滑り面とその安全率を計算し、斜面が安定しているのか否かを判定するアプリになっています。<br></p>
        </div>
        <blockquote class="quote-blue me-0">
            <p class="tytle_two">とりあえず使ってみよう！</p>
        </blockquote>
        <div class="text_content">
            <p class="content_direction">
                こちらのアプリでは、指定された条件の斜面に対して、最も危険な状態となる円弧滑り面とその安全率を返します。最も危険な状態となる円弧滑り面の調べ方については、以下の手順により計算します。
            </p>
        </div>
        <div class="content_topic">
            <blockquote class="quote-blue me-0">
                <p class="tytle_two">ちょっと難しい話。どんな計算がされているんだろう</p>
            </blockquote>
            <div class="text_content">
                <p>うまく滑ってくれましたか？<br>
                    では、ここからが本題です。このアプリ、値を指定してくれると<strong>「自動で」</strong>安全率や半径を教えてくれますよね。<br>
                    でもこの<strong>「自動」</strong>、実は非常にやっかいで、一見自動に見えるものでも、やはりどこかで人が定義をしてあげないといとプログラムは作動してくれません。</p>
                <p>この章では、実際に裏側でどんな計算がされているのかを説明していきます。<br>
                    <strong>「うっ、計算…」</strong>という気持ち、とてもわかります！！<br>でも実は、この後にもっと複雑計算が残っているんですよねー。
                </p>
            </div>
            <div class="content_topic">
                <p class="tytle_four">導出方法～斜面の安定～</p>
        　　</div>
        </div>
        <div class="text_content">
            <div class="article_slip">
                <p>斜面の安定は、次の手順で計算をしていきます。</p>
                <div class="image-area">
                    <img src="../../assets/img/slip_article_first.png"  class="slip_img" width=220px>
                </div>
                <ol class="slip_article_text">
                    <li>斜面より上のある座標（x＝L/2、ｙ＝H）を中心とし、ある半径をとる円弧滑り面の安全率を計算します。円弧滑り面の安全率計算では、スライス法に基づき円の面積をx方向に5分割し、それぞれの要素について滑り荷重と滑り抵抗を算出し、それぞれ合算した値の商を求めることで算出します。</li>
                    <li>１の中心座標の場合における、安全率が最小値となる円弧滑り面の半径を求めます。<br>その際、円弧滑り面と斜面が接する時の半径の値を最小値として、半径の値を1mずつ増加させて安全率の繰り返し計算を25回行います。<br>この繰り返し計算の中で最も小さい安全率を算出した時の安全率を、その中心座標における最小安全率とします。</li>
                </ol>
            </div>
        </div>
        <div class="text_content">
            <div class="article_slip">
                <div class="image-area">
                    <img src="../../assets/img/slip_article_second.png"  class="slip_img" width=220px>
                </div>
                <ol class="slip_article_text" start="3">
                    <li>円弧滑り面の中心として選ばれているある座標の上下左右それぞれ１m離れた4点についても➁の計算を行います。そして、5つの異なる中心座標における最小安全率を比較して、最も小さい最小安全率を出した中心座標を選びます。</li>
                    <li>上下左右それぞれ離れた4点のいずれかが選ばれた場合は、その点を中央として再び➂の計算・比較を行います。<br>中央とした1点が選ばれた場合、計算を終了して最も危険な状態となる円弧滑り面とその安全率として返します。</li>
                </ol>
            </div>
        </div>
        <div class="content_topic">
            <div class="content_topic">
                <p class="tytle_four">導出方法～円弧滑り面～</p>
        　　</div>
        </div>
        <div class="text_content">
            <p class="content_direction"> 斜面の安定は、一般に以下に示される安全率F_sによって検討されます。</p><p class="emphasis"><strong>F=R/L</strong> </p>
            <p class="content_direction">
                この式におけるRは「滑りに抵抗する力やモーメント」で、Lは「滑ろうとする力やモーメント」です。したがって、F_sが１を上回る場合は抵抗が勝るので斜面は安定となり、F_sが1を下回る場合は抵抗が劣るので斜面が崩壊することとなります。<br>
                また、1を上回る場合でも値が大きくなればなるほど、抵抗が大きく安定することとなります。逆に言えば、<strong>F_sが最も小さい値を出す面が最も危険であり、地震や大雨などが発生した時に破壊する面である</strong>と想定できます。盛土工事などでは1.2~1.5程度の値が採用されているそうです。<br>
                このRとLについて、様々な解析法が提示されております。<br>
                具体的には,
                <p class="emphasis">➀滑り面（崩壊する面）はどのような形を仮定するか<br>➁その面におけるRやLをどのような手順で求めるか </p>
            <p class="content_direction">今回のアプリでは、➀については円弧滑り面を仮定して、➁についてはスライス法を用いております。この手法はスウェーデン法と呼ばれております。円弧滑り面とは、下の図のように斜面近くのある点を中心とする円を描き、斜面と重なる弧を滑り面として検討する方法です。より計算が単純な、斜面と平行な滑り面を仮定する直線すべり面と比べて深い場所に対する検討に適しています</p>
                <div class="image-area">
                    <img src="../../assets/img/slip_radius.png"  class="slip_img">
                </div>
        </div>
        <div class="content_topic">
            <div class="content_topic">
                <p class="tytle_four">スライス法</p>
        　　</div>
        </div>
        <div class="text_content">
            <p class="content_direction"> スライス法では、円弧滑り面の滑り面上にある滑り土塊をいくつかのブロックに分けて、ブロック一つ一つについて弧を直線近似して四角形を仮定することで単純化し、RやLを計算します。ブロックには以下の図のように力が作用します。</p>
            <p class="content_direction">
                ここで、ブロックの両側にある４つの力は、左右間でほぼ相殺されて影響力が小さく、また考慮してしまうと変数が膨大になり解析が困難になるため無視することとします。<br>
                また、1を上回る場合でも値が大きくなればなるほど、抵抗が大きく安定することとなります。逆に言えば、F_sが最も小さい値を出す面が最も危険であり、地震や大雨などが発生した時に破壊する面であると想定できます。盛土工事などでは1.2~1.5程度の値が採用されているそうです。<br>
                このRとLについて、様々な解析法が提示されております。<br>
                具体的には,
                <p class="emphasis">➀滑り面（崩壊する面）はどのような形を仮定するか<br>➁その面におけるRやLをどのような手順で求めるか </p>
            <p class="content_direction">今回のアプリでは、➀については円弧滑り面を仮定して、➁についてはスライス法を用いております。この手法はスウェーデン法と呼ばれております。円弧滑り面とは、下の図のように斜面近くのある点を中心とする円を描き、斜面と重なる弧を滑り面として検討する方法です。より計算が単純な、斜面と平行な滑り面を仮定する直線すべり面と比べて深い場所に対する検討に適しています。</p>
                <div class="image-area">
                    <img src="../../assets/img/slice.png"  class="slip_img" width=80%>
                </div>
            <p class="content_direction">右からi番目のブロックについて、安全率は以下の通りに求められます。<br>
                <p class="emphasis">F_s=(∑_(i=1)^n▒〖w_i  cos⁡〖α_i 〗  tan⁡〖φ_i 〗+c_i l_i 〗)/(∑_(i=1)^n▒〖W_i  sin⁡〖α_i 〗 〗)</p>
                　ただし、c_i：土の粘着力、φ_i：土の摩擦角<br>
                　この式に従って、スウェーデン法では斜面の安定が解析できます。このアプリは、上記の考え方を基に<strong>python</strong>を用いて安全率を計算し、最も安全率が低く危険な斜面を計算しております。
        </div>
    </div>
</div>

<div class="content">
    <div class="content-inner">
        <h2>How to</h2>
        <p>使用説明</p>
        <div class="content_topic">
            <blockquote class="quote-blue me-0">
                <p class="tytle_two">鳥を飛ばしたかった！？three.jsってなに</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                さあ、計算の話はこれで終わり！<br>
                でもあれ？先ほど触ったアプリって、「計算しておわり！」のつまらないアプリでしたっけ？<br>
                そう、アプリはそれで終わりじゃありません。斜面、崩れましたよねー。それも単純に崩れるだけではなく、実は崩れ方も違うんです！<br>
                計算上、安全率が1を下回るとき、小さければ小さいほど規模の大きい崩壊が起こるんでしたよね。それに対応して、モデルの動き方も変わるようになっています。<br>
                今回、モデルを動かすには「three.js」を使用しました。これもまた複雑で考えることが多いんです。<br>
                何ができるのか、どんな作業が必要なのか、<strong>今回1からモデルを作ってくれた吉川君</strong>に説明してもらいましょう！
            </p>
        </div>
        <div class="content_topic">
            <div class="content_topic">
                <p class="tytle_four">three.js</p>
        　　</div>
        </div>
        <div class="text_content">
            <p class="content_direction">
                まずは、今回使用したthree.jsについて簡単に説明していきたいと思います！
                「three.js」とは、手軽に3D世界を作り出すことが可能で、重力などの再現できるため、現代ではゲームなどにも採用されており、多くのサイト等で使用されています！
                今回実際に作業したことは円弧すべりを表示する図形などを中心に制作していました。例えば、計算した後に表示される土を想定した球体の図形や丘を想定したものなどを作成しました。それらの図形を作る上で、数学的な考え方から円弧の座標など求め、three.jsにその命令としてコードを書くことを中心として作業を行いました。それに加えて、笹澤さん達に教わりながらも、今回作った世界に重力や土同士の(球体同士)の摩擦力や弾性力を与えたりして、より現実に近いような再現を行ったり、ペアプログラミングの形態を取ったりして、今回の円弧すべりのアプリの作成を行いました。
            </p>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-inner">
        <h2>Record</h2>
        <p>制作記録</p>
        <div class="content_topic">
            <blockquote class="quote-blue me-0">
                <p class="tytle_two">吉川</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                今回の円弧滑りのアプリ開発をするにあたって、自分は全くと言っていいほどプログラミングについて知らない状態からはじめました。<br>
                また、今回のアプリ開発では、「three.js」を使用して円弧すべりを表示する図形などを書いていきました。それを進める過程で、土の仮定した球体や丘を想定した線など、色々図形を作成していきました。<br>
                初めにも書いたとおり、自分はプログラミングでさえ知らないような人だったので、最初は何をしていいかわからず、どんなふうに書いていくのかもわからなかった状態で、とても苦労しました。<br>
                しかし、three.jsについていろんなことを調べたり、周りにいるメンバーや笹澤さんに聞いたりしていくうちに、少しずつではあったがわかるようになっていき、図形などの表示できるようになっていきました。<br>
                今回全体を通して思ったことは、はじめは大変だったけど、だんだんやっていくうちに楽しくなっていき、完成したときの喜びが貴重な体験をすることに繋げられることが出来ました。<br>
                これからも少しずつプログラミング部の企画を通して、様々なことを経験していきたいと感じました。<br>
                吉川和宏
            </p>
        </div>
    </div>
    <div class="content-inner">
        <div class="content_topic">
            <blockquote class="quote-blue me-0">
                <p class="tytle_two">吉川</p>
            </blockquote>
        </div>
        <div class="text_content">
            <p class="content_direction">
                見様見真似で始まり、円弧滑りアプリのデザインと、このサイトの作成を行いました。<br>
                
            </p>
        </div>
    </div>
</div>