<head><link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"></head>
<div class="button_area">
    <a class="button_1" routerLink='/'><i class="far fa-handshake"></i></a>
</div>

<div class="first_face">
    <i class="far fa-handshake greeting"></i><span>見出し１</span>
</div>

<div class="second_face">
    見出し２０
</div>



<div class="slider">
  <div class="slider__content"><img src="https://files.slack.com/files-pri/TV9HDMMGB-F01D78K0XJQ/ios__________.jpg" alt="写真" height="65%" width="100%"  class="working_img"></div>
  <div class="slider__content"><img src="https://files.slack.com/files-pri/TV9HDMMGB-F01D13RP3RQ/ios__________.jpg"  alt="写真"height="65%" width="100%"  class="working_img"></div>
  <div class="slider__content"> <img src="https://files.slack.com/files-pri/TV9HDMMGB-F01CLBDKQPR/ios__________.jpg" alt="写真"height="65%" width="100%"  class="working_img"></div>
</div>

<div class="content_topic">
    <blockquote class="quote-orange me-0">
        <h2>通常の契約書との違いは？</h2>
        <p></p>
    </blockquote>
</div>

<div class="text_content">
    何度もいうように、約款も契約である点で違いはありませんが、通常の契約は、お互いの合意（意志の合致）を根拠に、当事者双方に拘束力を発生させます。逆にいえば、お互いの意志の合致がなければ拘束力もないのです。契約においてはそもそも、申し込む人がよく知らないことや、理解できていないことについては、原理上成立できないはずです。
</div>

<div class="news">
    <ul class="news_info">
        <li><p class="news_where">programing部</p></li>
        <li><p class="news_date">2020/10/28</p></li>
        <li><p class="news_tytle">ローンチ日まで7日です</p></li>
    </ul>
</div>